<section id="featured-books">
  <h1 class="header">Featured Books</h1>
  <div class="books">
    <div class="book">
      <div class="b-book-img">
        <img src="images/f-book1.PNG" alt="" />
      </div>
      <h4 class="b-name">If She Knew</h4>
      <h5 class="b-author">BLACK PIERCE</h5>
      <p class="b-price">PKR 700</p>
    </div>
    <div class="book">
      <div class="b-book-img">
        <img src="images/f-book2.PNG" alt="" />
      </div>
      <h4 class="b-name">The Orphon Collector</h4>
      <h5 class="b-author">ELLEN MARRIE WISEMAN</h5>
      <p class="b-price">PKR 240</p>
    </div>
    <div class="book">
      <div class="b-book-img">
        <img src="images/f-book3.PNG" alt="" />
      </div>
      <h4 class="b-name">One And Only Ivan</h4>
      <h5 class="b-author">KATHERINE APPLIGATE</h5>
      <p class="b-price">PKR 320</p>
    </div>
    <div class="book">
      <div class="b-book-img">
        <img src="images/f-book4.PNG" alt="" />
      </div>
      <h4 class="b-name">Secrets In Blood</h4>
      <h5 class="b-author">JACK CARTWRIGHT</h5>
      <p class="b-price">PKR 510</p>
    </div>
  </div>
</section>
