<section id="customer-reviews">
  <h1 class="header">Customer Reviews</h1>
  <div class="reviews">
    <div class="review">
      <div class="review-with-photo">
        <img src="images/customer1.webp" alt="" class="customer-photo" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="rating">
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/hollow-star.png" alt="" class="star" />
      </div>
      <hr />
    </div>
    <div class="review">
      <div class="review-with-photo">
        <img src="images/customer2.webp" alt="" class="customer-photo" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          reprehenderit, vitae voluptatem
        </p>
      </div>
      <div class="rating">
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/half-star.png" alt="" class="star" />
        <img src="images/hollow-star.png" alt="" class="star" />
      </div>
      <hr />
    </div>
    <div class="review">
      <div class="review-with-photo">
        <img src="images/customer3.jpg" alt="" class="customer-photo" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          reprehenderit,
        </p>
      </div>
      <div class="rating">
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/half-star.png" alt="" class="star" />
        <img src="images/hollow-star.png" alt="" class="star" />
        <img src="images/hollow-star.png" alt="" class="star" />
      </div>
      <hr />
    </div>
    <div class="review">
      <div class="review-with-photo">
        <img src="images/customer4.jpg" alt="" class="customer-photo" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
      </div>
      <div class="rating">
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/half-star.png" alt="" class="star" />
      </div>
      <hr />
    </div>
    <div class="review">
      <div class="review-with-photo">
        <img src="images/customer5.jpg" alt="" class="customer-photo" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe</p>
      </div>
      <div class="rating">
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
        <img src="images/full-star.png" alt="" class="star" />
      </div>
      <hr />
    </div>
  </div>
</section>
