<main class="main">
  <!-- <div>
    <app-update-modal></app-update-modal>
  </div> -->
  <div>
    <app-header></app-header>
  </div>
  <hr style="color: #323846; background-color: #323846" />
  <div>
    <app-nav></app-nav>
  </div>
  <div>
    <app-home></app-home>
  </div>
  <div>
    <app-add-book></app-add-book>
  </div>
  <div>
    <app-featured-books></app-featured-books>
  </div>
  <div>
    <app-books></app-books>
  </div>
  <div>
    <app-about></app-about>
  </div>
  <div>
    <app-book-detail></app-book-detail>
  </div>
  <div>
    <app-customer-reviews></app-customer-reviews>
  </div>
  <div>
    <app-contact></app-contact>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</main>
<router-outlet />
