<section id="home">
  <div id="h-description">
    <h2>CureMD BookStore</h2>
    <h4>by Muhammad Umar</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      perferendis recusandae ut odio quam architecto quod reprehenderit iste
      culpa. Harum iusto doloribus alias nisi, nulla dolorem ab molestias
      possimus aliquid.
    </p>
  </div>
  <div id="h-images">
    <img class="h-imgs" src="./assets/images/book1.png" alt="" />
    <img class="h-imgs" src="../../assets/book2.PNG" alt="" />
    <img class="h-imgs" src="../../assets/book3.PNG" alt="" />
  </div>
</section>
